.btn {
  padding: 12px 30px;
  border-radius: 6px; /* Bordas um pouco mais quadradas */
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  text-transform: uppercase; 
  letter-spacing: 1px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Botão Primário: Azul Marinho */
.primary {
  background-color: #080035; 
  color: white;
}

.primary:hover {
  background-color: #b68c27; /* Fica dourado ao passar o mouse */
}

/* Botão Secundário: Borda Azul */
.secondary {
  background-color: transparent;
  color: #080035;
  border: 2px solid #080035;
}

.secondary:hover {
  background-color: #080035;
  color: white;
}